#fotomia1{
	width: 235px;
    height: 235px;
    
}
#video{
	text-align: right;
}

#sobremi{
	color: black;
}
#unidad2{
	text-align: center;
}
#unidad3{
	text-align: center;
}
#unidad4{
	text-align: center;
}